body {
	font-family: Caslon, serif;
	color: white;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	background-color: #424242;

}

header{
	width: 100%;
	color: white;
	clear: both;
}

body a {
	text-decoration: none;
}

h1 {
	margin: -100px auto 15px auto;
	text-align: center;
	position: relative;
}

h2{

	text-align: center;
	z-index:1;
}
.bold15em{
	text-decoration: bold;
	font-size: 1.5em;
	text-align: center; /*doesn't seem to be working*/
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

img{
	float:left;
}

.link{
	color: white;
	text-decoration: underline;
}
#container {
	width: 100%;
}
.clear {
	clear:both;
}

/*..........................Top Bar..........................*/


/*..........................end Top Bar..........................*/



/*_____________________________ Map Rules _____________________________*/
#map {
	
	width: 100%;
	height:700px;
	border: none;
}
/*_____________________________ end Map Rules _____________________________*/

/*~~~~~~~~~~~~~~~~~~~~~~~~ MAP INFO WINDOW ~~~~~~~~~~~~~~~~~~~~~~~~*/
/* based on lab3 style.css*/
.infolabel {
	position: fixed;
	bottom: 10px;
	right: 20px;
	
	z-index: 100;
	
	color: #000;
	background-color:#fff;
	opacity: 0.7;
	border: solid thin #000;
	padding: 5px;
	border-radius: 10px;
} 
.infolabel h2 {
	display: inline-block;
	line-height: 1em;
	margin: 0;
}
.infolabel b {
	float: left;
}

.infoWindowPhoto{
	position: relative;
	
	width: 70px;
	opacity: 1;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~ end MAP INFO WINDOW ~~~~~~~~~~~~~~~~~~~~~~~~*/

/*----------------------------- Floor Picker ----------------------------- */

#profile{
	z-index:100;
	width: 150px;
	position: fixed;
	left: 10px;
	bottom: 10px;
	
	opacity: 0.7;
}

#floorLabel{
	color: #424242;
	position: absolute;
	padding-left: 12px;
	top: 100px;
	font-size: 0.75em;
}



#basement{
	fill: white;
}
#ground {
	fill: white;
	stroke: red;
}
#first_1_ {
	fill: white;
}
#second {
	fill: white;
}
#third {
	fill: white;
}
#fourth {
	fill: white;
}
#dome{
	fill:white;
}
/*----------------------------- end Floor Picker ----------------------------- */

#footnotes{
	/*position: fixed;*/
	text-align: right;
	margin-right: 20px;
}


